
                                    <small style="color:rgb(0, 192, 0);" class="confirm-text">**New Reason</small>
                                    <div class="input">
                                        <span>Desc of fee:</span>
                                        <div class="select-dashboard">
                                            {{ form.transaction_reason }}
                                        </div>
                                    </div>

                                    <div class="input">
                                        <span>Amount  :</span> <input name="amount" required placeholder="Enter amount . . ." type="number">
                                    </div>