{% load static %}

                        <div class="search-top">
                            <div class="s-top-logo">
                                <img draggable="false" src="{% static 'post/images/Logo.jpg' %}" alt="CPI Logo">
                            </div>

                            <div class="s-top-titles">
                                <p class="college-name">{{clg_name}}</p>
                                <p class="info">Upload Student List</p>

                            </div>
                            <div style="width:190px;" class="line"></div>


                        </div>
                        <form id="s-l-form-ajax"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="search-middle">
                                <small style="color:#172577;" class="confirm-text">**Authentication complete . Upload List.</small>



                                <div class="select-semester-option  s-s-o2 ">
                                    <div class="label s-label">
                                        CSV File :
                                    </div>

                                    <div class="s-semester s-s-ur">
                                        <input type="file" name="file" id="deafen-file">

                                    </div>


                                </div>
                            </div>
                            <div class="search-bottom">

                                <button id="d-l-btn" class=""  type="submit">
                                    <p id="submit-text-s-l">Upload List</p>

                                    <div id="content-loader-s-l" class="content-loader d-none">
                                        <div id="loader-d-c-s-l" class="loader "></div>
                                    </div>
                                </button>
                            </div>

                        </form>

