{% extends 'post/base.html' %}

{% load static %}

{% block title %} <title>Tabulation & Mark Sheet
</title>{% endblock title %}
{% block cssfile %} <link rel="stylesheet" href="{% static 'post/css/base.css' %}"> {% endblock cssfile %}
{% block cssfile1 %}<link rel="stylesheet" href="{% static 'post/css/result.css' %}">{% endblock cssfile1 %}
{% block cssfile3 %}<link rel="stylesheet" href="{% static 'post/css/create.css' %}">{% endblock cssfile3 %}
{% block cssfile2 %}<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">{% endblock cssfile2 %}
{% block js_file %}<script src="{% static 'dashboard/js/tabulation_mark_sheet.js' %}"></script> {% endblock js_file %}
{% block ex_js_file %}{% endblock ex_js_file %}


    {% block container_left %}
        {% include 'post/left_nav.html' %}

    {% endblock container_left %}


    {% block container_main_body %}
            <div class="main-body">


            <div class="main" id="tabulation_content">
                <div class="links">
                    <button class='link-btn1 link-btn active' btn_no="1" id="t-link-btn1">Tabulation</button>
                    <button class='link-btn2 link-btn' btn_no="2" id="t-link-btn2">Mark Sheets</button>
                    <button class='link-btn3 link-btn' btn_no="3" id="t-link-btn3">S.Mark Sheet</button>
                    <button class='link-btn4 link-btn' btn_no="4" id="t-link-btn4">E.Result</button>
                </div>
                 <div class="content-loader">
                        <div id="loader-d-c-g-tab-t" class="loader d-none"></div>
                    </div>
                <div class="create-post-body">

                    <div class="search-top">
                        <div class="s-top-logo">
                            <img draggable="false" src="{% static 'post/images/Logo.jpg' %}" alt="">
                        </div>

                        <div class="s-top-titles">
                            <p class="college-name">{{clg_name}}</p>
                            <p class="info">search tabulation sheet</p>

                        </div>
                        <div class="line" style="width:240px"></div>


                    </div>
                    <div id="s-tab-body">
                    <form id="search-tabulation-sheet-form" >
                        {% csrf_token %}
                        <div class="search-middle">

                                <div class="select-semester-option">
                                        <div class="label" style="margin-top:0;">
                                            Session :
                                        </div>

                                        <div class="s-semester">
                                             <select name="session" id="session">
                                                <option value="">--------</option>
                                                {% for year in session_year_list %}
                                                    <option value="{{year}}">{{year}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    

                                </div>
                                <div class="select-semester-option s-s-o2 ">
                                    <div class="label s-label">
                                        Department :
                                    </div>

                                    <div class="s-semester">
                                        {{form2.department}}

                                    </div>


                                </div>
                                <div class="select-semester-option s-s-o2 ">
                                    <div class="label s-label">
                                        Semester :
                                    </div>

                                    <div class="s-semester">
                                        {{form.semester}}

                                    </div>
                                   

                                </div>
                                


                        </div>

                        <div class="search-bottom" id="f-tab-sheet">

                            <button type="submit" class="result-submit-btn" >Search</button>
                        </div>

                        
                    </form>
                    </div>


                   
                </div>
            </div>
        </div>
    {% endblock container_main_body %}

 {% block container_right %}
    {% endblock container_right %}
