 {% load static %}
         <div class="left">



        <div class="left-side">


            <div class="side-profile-link">
                <a href="{% url 'profile' request.user.id %}">
                        <img src="{{ request.user.profile.image.url }}" draggable="false" alt="">
                        <p class="name-title">{{request.user.name}}</p>

                </a>
            </div>



            <div class="result-link">
                <a href="{% url 'view_result' %}">
                <div  class="title">
                    <div  id="side-result-i-t" class="side-inner-title">
                        <img  src="{% static 'post/images/result.png' %}" draggable="false" alt="">
                        <p>Results</p>

                    </div>


                </div>
                </a>

            </div>

            <div class="exam-routines">
                    <div onclick="sideroutineF()" class="title">
                        <div onclick="sebg()" id="side-exam-i-t" class="side-inner-title">
                            <img src="{% static 'post/images/accounting.png' %}" alt="">
                            <p>Fee system</p>

                        </div>


                    </div>




                    <div id="side-e-semesters"  class="semesters">
                        <div class="r-s-c">
                            <ul>

                                <li><a href="{% url 'semester_home' %}">Semester Fee<p>>></p> </a> </li>
                                <li><a href="{% url 'hostel_home' %}">Hostel Fee  <p>>></p> </a> </li>
                                <li><a href="{% url 'registration_home' %}">Form Fill Up Fee<p>>></p> </a> </li>
                                <li><a href="{% url 'midterm_home' %}">MidTerm Fee<p>>></p> </a> </li>



                            </ul>
                        </div>
                    </div>


                </div>
            {% if request.user.is_student %}
            <div class="result-link">
                <a href="{% url 'view_transaction_history_student' request.user.id %}">
                <div  class="title">
                    <div   class="side-inner-title">
                        <img  src="{% static 'post/images/history.png' %}" draggable="false" alt="">
                        <p>Transaction History</p>

                    </div>


                </div>
                </a>

            </div>
            {% endif %}

            {% if request.user.is_teacher %}

            <div class="exam-routines">
                <div  class="title">
                    <a href="{% url 'upload_routine' %} ">
                    <div  class="side-inner-title">
                        <img src="{% static 'post/images/upload.png' %}" draggable="false" alt="">
                        <p>Upload Exam Routine</p>

                    </div>
                    </a>


                </div>

            </div>

             <div class="exam-routines">
                <div  class="title">
                    <a href="{% url 'upload_class_routine' %} ">
                    <div  class="side-inner-title">
                        <img src="{% static 'post/images/upload.png' %}" draggable="false" alt="">
                        <p>Upload Class Routine</p>

                    </div>
                    </a>


                </div>

            </div>
            {% endif %}




            {% if request.user.is_teacher %}
            <a href="{% url 'upload_result' %}">
                <div class="side-inner-title">
                    <img src="{% static 'post/images/upload.png' %}" draggable="false" alt="">
                    <p>Upload Result sheet</p>

                </div>

            </a>




            {% endif %}

            <a href="/logout/">
                <div class="side-inner-title">
                    <img src="{% static 'post/images/logout.png' %}" draggable="false">
                    <p>Logout</p>

                </div>
            </a>


        </div>
         </div>