<div class="s-d-left">
    <img src="{{student.student.profile.image.url}}" alt="">
</div>

<div class="s-d-right">
    <p class="name">{{student.student.name | title}}</p>



    <p><span>Roll : </span> {{student.student.roll}}</p>
    <p><span>Registration : </span> {{student.student.registration}}</p>
    <p><span>Semester : </span> {{student.semester}}</p>
    <p><span>Department : </span> {{student.student.department}}</p>

    <p><span>Total remaining  : </span> 0 TK</p>

    <form id="update-midterm-fee-form" midterm_student_id="{{student.id}}">
        {% csrf_token %}
        <div class="update-fee-input" id="update-fee-input-midterm">
            {% if disable_inputs %}
                <input type="number" id="amount" class=""  placeholder="Enter amount to add . . ." disabled>
                <button class="add-btn add-to-hostel-btn update-fee-btn disabled" type="submit" id="student" disabled value="{{student.id}}">Update</button>
            {% else %}
                <input type="number" id="amount" required  placeholder="Enter amount to add . . ." >
                <button class="add-btn add-to-hostel-btn update-fee-btn" type="submit" id="student"  value="{{student.id}}">Update</button>
            {% endif %}
        </div>
        <div id="content-loader-u-m-t-fee" style="margin-top:2.95em;" class="content-loader d-none">
            <div id="loader-u-m-t-fee" class="loader "></div>
        </div>
    </form>

</div>